.places {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 866px) {
  .places {
    margin: 0 24px 90px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 0 0 66px 0;
  }
}