.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 24px;
  text-align: center;
}

@media screen and (max-width: 968px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
		align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    align-items: start;
    margin: 0 0 24px 16px;
  }
}